    * {
        box-sizing: border-box;
        margin: 0 auto;
    }

    .container {
        width: 1200px;
        height: 1140px;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        width: 100%;
        height: 150px;
        background-image: url('../images/nen_header.jpg');
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo_title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .logo_title img {
        padding-right: 10px;
    }

    .title {
        padding: 10px;
    }

    .title h2 {
        font-size: 18px;
        color: #384bb9;
        font-weight: bold;
        text-transform: uppercase;
    }

    .title h1 {
        font-size: 26px;
        color: #f46e67;
        font-weight: bold;
        text-transform: uppercase;
    }

    .search {
        margin-right: 5px;
    }

    .info {
        margin-top: -45px;
    }

    .info ul {
        display: flex;
        justify-content: center;
    }

    .info ul li {
        list-style: none;
        padding-right: 10px;
    }

    .info ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #182226;
    }

    .search input {
        width: 250px;
        height: 28px;
        border: none;
    }

    nav {
        width: 100%;
        height: 80px;
        background-color: #eac54d;
        line-height: 80px;
        /* margin-top: -25px; */
    }

    nav ul {
        display: flex;
        list-style: none;
        margin-left: -30px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #ffff;
        text-transform: uppercase;
        font-weight: bold;
    }

    nav ul li a:hover {
        color: #621c19;
    }

    .content {
        width: 100%;
        height: 700px;
        display: flex;
        padding: 10px;
    }

    section {
        width: 70%;
        height: 100%;
        background-color: #f4f4f4;
        margin-right: 10px;
    }

    .nd1 {
        width: 100%;
        height: 60%;
        background-color: #f4f4f4;
        border-radius: 8px;
        border: 1px solid #342525;
        margin-bottom: 10px;
        padding: 15px;
    }

    h2 {
        width: 80%;
        color: #f46e67;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    table {
        width: 80%;
        height: 40%;
        background-color: #f4f4f4;
        font-size: 17px;
    }

    table,
    th,
    td {
        padding-top: 20px;
    }

    th {
        background-color: #f46e67;
        color: #ffff;
        font-size: 18px;
    }

    #txtsearch,
    #loaivanban {
        width: 350px;
        height: 30px;
        border: 1px solid #342525;
        border-radius: 5px;
    }

    #ngaybanhanh {
        width: 173px;
        height: 30px;
        border: 1px solid #342525;
        border-radius: 5px;
    }

    button {
        width: 100px;
        height: 30px;
        background-color: #7c3a36;
        color: #ffff;
        border: none;
        border-radius: 5px;
    }

    .nd2 {
        width: 100%;
        height: 40%;
        background-color: #f4f4f4;
    }

    .nd21,
    .nd22 {
        width: 100%;
        height: 50%;
        background-color: #f4f4f4;
        margin-bottom: 10px;
        padding: 10px;
    }

    .nd21 {
        margin-bottom: 10px;
    }

    .title2 {
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #342525;
        border-radius: 5px;
        background-color: #e0c6c5;
        align-items: center;
        padding: 5px;
    }

    .nd211 {
        margin-right: 40px;
    }

    aside {
        width: 30%;
        height: 100%;
        background-color: #f4f4f4;
    }

    .aside1 {
        width: 100%;
        height: 60%;
        background-color: #f4f4f4;
        border-radius: 8px;
        border: 1px solid #342525;
        margin-bottom: 10px;
    }

    .aside11,
    .aside12,
    .aside13 {
        width: 100%;
        background-color: #f4f4f4;
        margin-bottom: 10px;
        padding: 25px;
    }

    .aside11,
    .aside12 {
        border-bottom: 1px solid #a29090;
    }

    .aside2 {
        width: 100%;
        height: 40%;
        background-color: #f4f4f4;
        margin-top: 5px;
    }

    footer {
        display: flex;
        width: 100%;
        height: 150px;
        background-color: #82331f;
        color: #ffff;
        padding: 20px;
        margin-top: 20px;
    }

    .ft1 {
        width: 70%;
        height: 100%;
        font-size: 15px;
        color: #ffff;
        font-weight: bold;
        padding: 10px;
    }

    .ft2 {
        width: 30%;
        height: 100%;
        font-size: 15px;
        color: #ffff;
        font-weight: bold;
        padding: 10px;
    }