.container {
    display: grid;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    float: left;
    width: 100%;
    height: 150px;
    border-bottom: 3px solid rgb(247, 169, 26);
}

.header img {
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}

nav {
    width: 30%;
    display: block;
}

nav img {
    width: 70%;
    height: 1050px;
    position: relative;
}

nav ul {
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 170px;
}

nav li {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: dashed rgb(246, 190, 60);
    padding-bottom: 10px;
}

nav li a {
    text-decoration: none;
}

section {
    width: 70%;
    float: right;
    margin-top: -1000px;
}

section h1 {
    font-size: 35px;
    color: rgb(232, 171, 49);
}

section img {
    width: 65%;
    height: 870px;
    position: relative;
    margin-top: 20px;
}

#para1 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 200px;
    margin-right: 300px;
    width: 180px;
    height: 200px;
    border: thick inset rgb(227, 224, 224);
    background-color: rgb(249, 246, 243);
    color: rgb(185, 116, 67);
    padding: 5px;
}

#para2 {
    left: 0;
    top: 0;
    margin-top: 600px;
    margin-left: 400px;
    position: absolute;
    width: 180px;
    height: 150px;
    border: thick inset rgb(227, 224, 224);
    background-color: rgb(249, 246, 243);
    padding: 5px;
}

#para3 {
    right: 0;
    top: 0;
    position: absolute;
    margin-top: 850px;
    margin-right: 350px;
    width: 200px;
    height: 150px;
    border: thick inset rgb(227, 224, 224);
    background-color: rgb(249, 246, 243);
    padding: 5px;
}

h1 {
    font-size: 40px;
    color: rgb(241, 169, 62);
}

.footer {
    text-align: center;
    color: rgb(240, 165, 44);
    padding: 10px;
    margin-top: 10px;
    border-top: 5px solid rgb(249, 176, 92);
}