*{
    border-radius: 1px;
    background-color: rgb(108, 181, 234);
}
input{
    background-color: #fff;
}
.logo{
    border-radius: 20px;
}
.div1 .ip1{
    margin-left: 100px;
    width: 100px;
}
.div1 .ip2{
    margin-left: 99px;
    width: 190px;
}
.div1 .ip3{
    margin-left: 144px;
    width: 150px;
}
.div1 .ip4{
    margin-left: 119px;
    width: 150px;
}
.div1 #sel{
    background-color: #fff;
    margin-left: 120px;
    width: 150px;
}
.div1 .ip5{
    margin-left: 70px;
    width: 150px;
}
.div1 .ip6{
    margin-left: 121px;
    width: 150px;
}
.div1 .ip7{
    margin-left: 199px;
}
.div1 .ip7a{
    margin-left: 22px;
}
.div1 .ip7-1{
    margin-left: 135px;
}
.div1 .ip7-2{
    margin-left: 199px;
}
.div1 .ip8{
    margin-left: 199px;
}
.div1 .ip8a{
    margin-left: 10px;
}
.div1 #tex{
    margin-left: 100px;
    background-color: #fff;
}
.div1 .com{
    float: left;
}
.div1 button{
    background-color: #fff;
}