@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Mea+Culpa&display=swap');

#navbar {
    background-color: black;
    height: 50px;
    color: #fff;
}
.col-3 a{
    font-family: 'Alex Brush', cursive;
    font-weight: bold;
    font-size: 30px;
}
.col-5 a {
    color: #fff;
    margin-left: 50px;
}

.col-5 a:hover {
    color: yellow;
}

.col-4 a {
    color: #fff;
    padding-right: 5px;
}

.col-4 button {
    font-size: 15px;
    border-radius: 20px;
    color: #fff;
    width: 120px;
}
.col-12 h2{
    font-family: 'Alex Brush', cursive;
    font-weight: bold;
    font-size: 40px;
}
.col-sm-6 {
    margin-top: 180px;
    margin-left: 100px;
}

.col-sm-6 button {
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    width: 120px;
}
.col-12 a{
    color: black;
    font-size: 20px;
    margin-left: 30px;
}
.col-12 a:hover{
    background-color: black;
    border-radius: 20px;
    color: #fff;
}
.card img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    
}

.card-body button {
    border-radius: 20px;
    float: right;
    color: #fff;
}
